:root {
  --ngrey: rgb(224, 224, 224);
  --agreen: rgb(20, 33, 24);
  --a1green: rgb(33, 53, 39);
  --bgreen: rgb(62, 87, 65);
  --cgreen: rgb(156, 186, 101);
  --dgreen: rgb(196, 199, 139);
  --bg: rgb(234, 231, 245);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 100px;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  width: 1400px;
  max-width: 100%;
  height: 700px;
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 9fr 1fr;

  nav {
    background-color: var(--agreen);
    grid-column: 1 / 1;
    grid-row: 2 / 1;
    border-radius: 5px;
    margin: 5px;

    .locator {
      top: 40px;
      z-index: 0;
      position: relative;
      height: 50px;
      width: 50px;
      left: 115px;
      background-color: var(--agreen);
      transition: all 0.3s ease;
    }

    ul {
      top: -50px;
      position: relative;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      list-style-type: none;
      flex-direction: column;
      padding-left: 10px;
      padding-right: 10px;

      li {
        display: flex;
        height: 30px;
        align-items: center;
        margin-bottom: 10px;

        a {
          text-transform: uppercase;
          display: flex;
          align-items: center;
          text-decoration: none;
          color: var(--dgreen);
          border-radius: 5px;
          width: 100%;
          height: 100%;
          transition: all 0.1s ease;
        }

        .default {
          background-color: var(--cgreen);
          color: var(--agreen);
        }

        a:hover {
          background-color: var(--a1green);
        }

        .prf:hover .locator {
          top: 100px;
        }
      }
    }
  }

  .main-content {
    background-color: var(--agreen);
    grid-column: 2 / 2;
    grid-row: 9 / 1;
    border-radius: 5px;
    margin: 5px;
  }

  .bottom-left {
    background-color: var(--agreen);
    border-radius: 5px;
    margin: 5px;
  }
}
